{% assign collection = include.collection_name %}
<div class="carousel-container" id="carousel-{{ collection }}">
  <div class="carousel-slide">
    {% for item in site.data.galleries[collection] %}
      <div class="art-piece">
        <img src="{{ item.image | relative_url }}" alt="{{ item.title }}">
      </div>
    {% endfor %}
  </div>
  <button class="prev" onclick="moveSlide('{{ collection }}', -1)">❮</button>
  <button class="next" onclick="moveSlide('{{ collection }}', 1)">❯</button>
</div>