<h3>2024</h3>
<ul>
  {% assign visitors_2024 = site.data.visits["2024"] %}
  {% for visitor in visitors_2024 %}
    <li>
      {{ visitor.name }} - {{ visitor.affiliation }} 
      ({{ visitor.start_date }} to {{ visitor.end_date }})
    </li>
  {% endfor %}
</ul>

<h3>2023</h3>
<ul>
  {% assign visitors_2023 = site.data.visits["2023"] %}
  {% for visitor in visitors_2023 %}
    <li>
      {{ visitor.name }} - {{ visitor.affiliation }} 
      ({{ visitor.start_date }} to {{ visitor.end_date }})
    </li>
  {% endfor %}
</ul>

<h3>2022</h3>
<ul>
  {% assign visitors_2023 = site.data.visits["2022"] %}
  {% for visitor in visitors_2023 %}
    <li>
      {{ visitor.name }} - {{ visitor.affiliation }} 
      ({{ visitor.start_date }} to {{ visitor.end_date }})
    </li>
  {% endfor %}
</ul>

<h3>2021</h3>
<ul>
  {% assign visitors_2023 = site.data.visits["2021"] %}
  {% for visitor in visitors_2023 %}
    <li>
      {{ visitor.name }} - {{ visitor.affiliation }} 
      ({{ visitor.start_date }} to {{ visitor.end_date }})
    </li>
  {% endfor %}
</ul>
<!-- Repeat for other years as needed -->
